@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--fontPri);
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
*,*::before,*::after {
    box-sizing: inherit;
}
:root {
    --gray-bg: #E3E3E3;
    --bold-font: #B9B9B9;
    --tittles: #F0A500;
    --form-bg: #F9F9F9;
    --border-act: #ffec99;
}
body {
    background-color: var(--gray-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
}
.contenedor {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    margin: 16rem 0;
}
.contenedor-formulario, .contenedorCitas {
    background-color: var(--form-bg);
    padding: 5% 5%;
}
.contenedor-formulario {
    max-height: 627px;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario h4 {
    color: var(--tittles);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}
.formulario__campo {
    width: 90%;
}
.formulario input, .formulario textarea {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
}
.formulario input:focus, .formulario textarea:focus {
    outline: unset;
}
.formulario .btn-submit {
    margin-top: 3rem;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    background-color: var(--tittles);
    border: none;
    color: rgb(34, 31, 31);
}
.formulario .btn-submit:hover {
    letter-spacing: .15rem;
    cursor: pointer;
}
.contenedorCitas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.contenedorCitas .cita {
    border: 1px solid #adb5bd;
    width: 100%;
    padding: 0 5%;
    margin-bottom: 2rem;
}
.contenedorCitas .cita-tittle {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    text-decoration: var(--tittles) solid underline;
}
.contenedorCitas .cita-parrafo {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 400;
    color: #212529;
}
.contenedorCitas .cita-parrafo span {
    font-weight: 700;
    width: max-content;
    text-decoration: var(--tittles) solid underline;
}
/* Alertas */
.mensajeAlerta {
    width: 90%;
    font-size: 1.5rem;
    background-color: #ff6b6b;
    color: #212529;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
}

@media(max-width: 1400px){
    .contenedor {
        width: 85%;
    }
}
@media(max-width: 1100px){
    .contenedor {
        margin: 10% 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5rem;
        width: 60%;
        grid-template-rows: auto;
        grid-template-areas: 
            "formulario"
            "citas";
        grid-template: 
        [row1-start] "formulario" 627px [row1-end]
        [row2-start] "citas" auto [row2-end]
        ;
    }
}
@media(max-width: 850px){
    .contenedor {
        width: 75%;
        grid-template-rows: auto;
        grid-template-areas: 
            "formulario"
            "citas";
        grid-template: 
        [row1-start] "formulario" 627px [row1-end]
        [row2-start] "citas" auto [row2-end]
        ;
    }
}
@media(max-width: 600px){
    .contenedor {
        width: 90%;
        grid-template-rows: auto;
        grid-template-areas: 
            "formulario"
            "citas";
        grid-template: 
        [row1-start] "formulario" 627px [row1-end]
        [row2-start] "citas" auto [row2-end]
        ;
    }
}

